/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.docker/db_app_v3_data/sys/x@0024waits_global_by_latency.frm
.docker/db_app_v3_data/sys/x@0024waits_by_user_by_latency.frm
.docker/db_app_v3_data/sys/x@0024waits_by_host_by_latency.frm
.docker/db_app_v3_data/sys/x@0024wait_classes_global_by_latency.frm
.docker/db_app_v3_data/sys/x@0024wait_classes_global_by_avg_latency.frm
.docker/db_app_v3_data/sys/x@0024user_summary_by_statement_type.frm
.docker/db_app_v3_data/sys/x@0024user_summary_by_statement_latency.frm
.docker/db_app_v3_data/sys/x@0024user_summary_by_stages.frm
.docker/db_app_v3_data/sys/x@0024user_summary_by_file_io_type.frm
.docker/db_app_v3_data/sys/x@0024user_summary_by_file_io.frm
.docker/db_app_v3_data/sys/x@0024user_summary.frm
.docker/db_app_v3_data/sys/x@0024statements_with_temp_tables.frm
.docker/db_app_v3_data/sys/x@0024statements_with_sorting.frm
.docker/db_app_v3_data/sys/x@0024statements_with_runtimes_in_95th_percentile.frm
.docker/db_app_v3_data/sys/x@0024statements_with_full_table_scans.frm
.docker/db_app_v3_data/sys/x@0024statements_with_errors_or_warnings.frm
.docker/db_app_v3_data/sys/x@0024statement_analysis.frm
.docker/db_app_v3_data/sys/x@0024session.frm
.docker/db_app_v3_data/sys/x@0024schema_tables_with_full_table_scans.frm
.docker/db_app_v3_data/sys/x@0024schema_table_statistics_with_buffer.frm
.docker/db_app_v3_data/sys/x@0024schema_table_statistics.frm
.docker/db_app_v3_data/sys/x@0024schema_table_lock_waits.frm
.docker/db_app_v3_data/sys/x@0024schema_index_statistics.frm
.docker/db_app_v3_data/sys/x@0024schema_flattened_keys.frm
.docker/db_app_v3_data/sys/x@0024ps_schema_table_statistics_io.frm
.docker/db_app_v3_data/sys/x@0024ps_digest_avg_latency_distribution.frm
.docker/db_app_v3_data/sys/x@0024ps_digest_95th_percentile_by_avg_us.frm
.docker/db_app_v3_data/sys/x@0024processlist.frm
.docker/db_app_v3_data/sys/x@0024memory_global_total.frm
.docker/db_app_v3_data/sys/x@0024memory_global_by_current_bytes.frm
.docker/db_app_v3_data/sys/x@0024memory_by_user_by_current_bytes.frm
.docker/db_app_v3_data/sys/x@0024memory_by_thread_by_current_bytes.frm
.docker/db_app_v3_data/sys/x@0024memory_by_host_by_current_bytes.frm
.docker/db_app_v3_data/sys/x@0024latest_file_io.frm
.docker/db_app_v3_data/sys/x@0024io_global_by_wait_by_latency.frm
.docker/db_app_v3_data/sys/x@0024io_global_by_wait_by_bytes.frm
.docker/db_app_v3_data/sys/x@0024io_global_by_file_by_latency.frm
.docker/db_app_v3_data/sys/x@0024io_global_by_file_by_bytes.frm
.docker/db_app_v3_data/sys/x@0024io_by_thread_by_latency.frm
.docker/db_app_v3_data/sys/x@0024innodb_lock_waits.frm
.docker/db_app_v3_data/sys/x@0024innodb_buffer_stats_by_table.frm
.docker/db_app_v3_data/sys/x@0024innodb_buffer_stats_by_schema.frm
.docker/db_app_v3_data/sys/x@0024host_summary_by_statement_type.frm
.docker/db_app_v3_data/sys/x@0024host_summary_by_statement_latency.frm
.docker/db_app_v3_data/sys/x@0024host_summary_by_stages.frm
.docker/db_app_v3_data/sys/x@0024host_summary_by_file_io_type.frm
.docker/db_app_v3_data/sys/x@0024host_summary_by_file_io.frm
.docker/db_app_v3_data/sys/x@0024host_summary.frm
.docker/db_app_v3_data/sys/waits_global_by_latency.frm
.docker/db_app_v3_data/sys/waits_by_user_by_latency.frm
.docker/db_app_v3_data/sys/waits_by_host_by_latency.frm
.docker/db_app_v3_data/sys/wait_classes_global_by_latency.frm
.docker/db_app_v3_data/sys/wait_classes_global_by_avg_latency.frm
.docker/db_app_v3_data/sys/version.frm
.docker/db_app_v3_data/sys/user_summary_by_statement_type.frm
.docker/db_app_v3_data/sys/user_summary_by_statement_latency.frm
.docker/db_app_v3_data/sys/user_summary_by_stages.frm
.docker/db_app_v3_data/sys/user_summary_by_file_io_type.frm
.docker/db_app_v3_data/sys/user_summary_by_file_io.frm
.docker/db_app_v3_data/sys/user_summary.frm
.docker/db_app_v3_data/sys/sys_config_update_set_user.TRN
.docker/db_app_v3_data/sys/sys_config_insert_set_user.TRN
.docker/db_app_v3_data/sys/sys_config.TRG
.docker/db_app_v3_data/sys/sys_config.ibd
.docker/db_app_v3_data/sys/sys_config.frm
.docker/db_app_v3_data/sys/statements_with_temp_tables.frm
.docker/db_app_v3_data/sys/statements_with_sorting.frm
.docker/db_app_v3_data/sys/statements_with_runtimes_in_95th_percentile.frm
.docker/db_app_v3_data/sys/statements_with_full_table_scans.frm
.docker/db_app_v3_data/sys/statements_with_errors_or_warnings.frm
.docker/db_app_v3_data/sys/statement_analysis.frm
.docker/db_app_v3_data/sys/session_ssl_status.frm
.docker/db_app_v3_data/sys/session.frm
.docker/db_app_v3_data/sys/schema_unused_indexes.frm
.docker/db_app_v3_data/sys/schema_tables_with_full_table_scans.frm
.docker/db_app_v3_data/sys/schema_table_statistics_with_buffer.frm
.docker/db_app_v3_data/sys/schema_table_statistics.frm
.docker/db_app_v3_data/sys/schema_table_lock_waits.frm
.docker/db_app_v3_data/sys/schema_redundant_indexes.frm
.docker/db_app_v3_data/sys/schema_object_overview.frm
.docker/db_app_v3_data/sys/schema_index_statistics.frm
.docker/db_app_v3_data/sys/schema_auto_increment_columns.frm
.docker/db_app_v3_data/sys/ps_check_lost_instrumentation.frm
.docker/db_app_v3_data/sys/processlist.frm
.docker/db_app_v3_data/sys/metrics.frm
.docker/db_app_v3_data/sys/memory_global_total.frm
.docker/db_app_v3_data/sys/memory_global_by_current_bytes.frm
.docker/db_app_v3_data/sys/memory_by_user_by_current_bytes.frm
.docker/db_app_v3_data/sys/memory_by_thread_by_current_bytes.frm
.docker/db_app_v3_data/sys/memory_by_host_by_current_bytes.frm
.docker/db_app_v3_data/sys/latest_file_io.frm
.docker/db_app_v3_data/sys/io_global_by_wait_by_latency.frm
.docker/db_app_v3_data/sys/io_global_by_wait_by_bytes.frm
.docker/db_app_v3_data/sys/io_global_by_file_by_latency.frm
.docker/db_app_v3_data/sys/io_global_by_file_by_bytes.frm
.docker/db_app_v3_data/sys/io_by_thread_by_latency.frm
.docker/db_app_v3_data/sys/innodb_lock_waits.frm
.docker/db_app_v3_data/sys/innodb_buffer_stats_by_table.frm
.docker/db_app_v3_data/sys/innodb_buffer_stats_by_schema.frm
.docker/db_app_v3_data/sys/host_summary_by_statement_type.frm
.docker/db_app_v3_data/sys/host_summary_by_statement_latency.frm
.docker/db_app_v3_data/sys/host_summary_by_stages.frm
.docker/db_app_v3_data/sys/host_summary_by_file_io_type.frm
.docker/db_app_v3_data/sys/host_summary_by_file_io.frm
.docker/db_app_v3_data/sys/host_summary.frm
.docker/db_app_v3_data/sys/db.opt
.docker/db_app_v3_data/performance_schema/variables_by_thread.frm
.docker/db_app_v3_data/performance_schema/users.frm
.docker/db_app_v3_data/performance_schema/user_variables_by_thread.frm
.docker/db_app_v3_data/performance_schema/threads.frm
.docker/db_app_v3_data/performance_schema/table_lock_waits_summary_by_table.frm
.docker/db_app_v3_data/performance_schema/table_io_waits_summary_by_table.frm
.docker/db_app_v3_data/performance_schema/table_io_waits_summary_by_index_usage.frm
.docker/db_app_v3_data/performance_schema/table_handles.frm
.docker/db_app_v3_data/performance_schema/status_by_user.frm
.docker/db_app_v3_data/performance_schema/status_by_thread.frm
.docker/db_app_v3_data/performance_schema/status_by_host.frm
.docker/db_app_v3_data/performance_schema/status_by_account.frm
.docker/db_app_v3_data/performance_schema/socket_summary_by_instance.frm
.docker/db_app_v3_data/performance_schema/socket_summary_by_event_name.frm
.docker/db_app_v3_data/performance_schema/socket_instances.frm
.docker/db_app_v3_data/performance_schema/setup_timers.frm
.docker/db_app_v3_data/performance_schema/setup_objects.frm
.docker/db_app_v3_data/performance_schema/setup_instruments.frm
.docker/db_app_v3_data/performance_schema/setup_consumers.frm
.docker/db_app_v3_data/performance_schema/setup_actors.frm
.docker/db_app_v3_data/performance_schema/session_variables.frm
.docker/db_app_v3_data/performance_schema/session_status.frm
.docker/db_app_v3_data/performance_schema/session_connect_attrs.frm
.docker/db_app_v3_data/performance_schema/session_account_connect_attrs.frm
.docker/db_app_v3_data/performance_schema/rwlock_instances.frm
.docker/db_app_v3_data/performance_schema/replication_group_members.frm
.docker/db_app_v3_data/performance_schema/replication_group_member_stats.frm
.docker/db_app_v3_data/performance_schema/replication_connection_status.frm
.docker/db_app_v3_data/performance_schema/replication_connection_configuration.frm
.docker/db_app_v3_data/performance_schema/replication_applier_status_by_worker.frm
.docker/db_app_v3_data/performance_schema/replication_applier_status_by_coordinator.frm
.docker/db_app_v3_data/performance_schema/replication_applier_status.frm
.docker/db_app_v3_data/performance_schema/replication_applier_configuration.frm
.docker/db_app_v3_data/performance_schema/prepared_statements_instances.frm
.docker/db_app_v3_data/performance_schema/performance_timers.frm
.docker/db_app_v3_data/performance_schema/objects_summary_global_by_type.frm
.docker/db_app_v3_data/performance_schema/mutex_instances.frm
.docker/db_app_v3_data/performance_schema/metadata_locks.frm
.docker/db_app_v3_data/performance_schema/memory_summary_global_by_event_name.frm
.docker/db_app_v3_data/performance_schema/memory_summary_by_user_by_event_name.frm
.docker/db_app_v3_data/performance_schema/memory_summary_by_thread_by_event_name.frm
.docker/db_app_v3_data/performance_schema/memory_summary_by_host_by_event_name.frm
.docker/db_app_v3_data/performance_schema/memory_summary_by_account_by_event_name.frm
.docker/db_app_v3_data/performance_schema/hosts.frm
.docker/db_app_v3_data/performance_schema/host_cache.frm
.docker/db_app_v3_data/performance_schema/global_variables.frm
.docker/db_app_v3_data/performance_schema/global_status.frm
.docker/db_app_v3_data/performance_schema/file_summary_by_instance.frm
.docker/db_app_v3_data/performance_schema/file_summary_by_event_name.frm
.docker/db_app_v3_data/performance_schema/file_instances.frm
.docker/db_app_v3_data/performance_schema/events_waits_summary_global_by_event_name.frm
.docker/db_app_v3_data/performance_schema/events_waits_summary_by_user_by_event_name.frm
.docker/db_app_v3_data/performance_schema/events_waits_summary_by_thread_by_event_name.frm
.docker/db_app_v3_data/performance_schema/events_waits_summary_by_instance.frm
.docker/db_app_v3_data/performance_schema/events_waits_summary_by_host_by_event_name.frm
.docker/db_app_v3_data/performance_schema/events_waits_summary_by_account_by_event_name.frm
.docker/db_app_v3_data/performance_schema/events_waits_history_long.frm
.docker/db_app_v3_data/performance_schema/events_waits_history.frm
.docker/db_app_v3_data/performance_schema/events_waits_current.frm
.docker/db_app_v3_data/performance_schema/events_transactions_summary_global_by_event_name.frm
.docker/db_app_v3_data/performance_schema/events_transactions_summary_by_user_by_event_name.frm
.docker/db_app_v3_data/performance_schema/events_transactions_summary_by_thread_by_event_name.frm
.docker/db_app_v3_data/performance_schema/events_transactions_summary_by_host_by_event_name.frm
.docker/db_app_v3_data/performance_schema/events_transactions_summary_by_account_by_event_name.frm
.docker/db_app_v3_data/performance_schema/events_transactions_history_long.frm
.docker/db_app_v3_data/performance_schema/events_transactions_history.frm
.docker/db_app_v3_data/performance_schema/events_transactions_current.frm
.docker/db_app_v3_data/performance_schema/events_statements_summary_global_by_event_name.frm
.docker/db_app_v3_data/performance_schema/events_statements_summary_by_user_by_event_name.frm
.docker/db_app_v3_data/performance_schema/events_statements_summary_by_thread_by_event_name.frm
.docker/db_app_v3_data/performance_schema/events_statements_summary_by_program.frm
.docker/db_app_v3_data/performance_schema/events_statements_summary_by_host_by_event_name.frm
.docker/db_app_v3_data/performance_schema/events_statements_summary_by_digest.frm
.docker/db_app_v3_data/performance_schema/events_statements_summary_by_account_by_event_name.frm
.docker/db_app_v3_data/performance_schema/events_statements_history_long.frm
.docker/db_app_v3_data/performance_schema/events_statements_history.frm
.docker/db_app_v3_data/performance_schema/events_statements_current.frm
.docker/db_app_v3_data/performance_schema/events_stages_summary_global_by_event_name.frm
.docker/db_app_v3_data/performance_schema/events_stages_summary_by_user_by_event_name.frm
.docker/db_app_v3_data/performance_schema/events_stages_summary_by_thread_by_event_name.frm
.docker/db_app_v3_data/performance_schema/events_stages_summary_by_host_by_event_name.frm
.docker/db_app_v3_data/performance_schema/events_stages_summary_by_account_by_event_name.frm
.docker/db_app_v3_data/performance_schema/events_stages_history_long.frm
.docker/db_app_v3_data/performance_schema/events_stages_history.frm
.docker/db_app_v3_data/performance_schema/events_stages_current.frm
.docker/db_app_v3_data/performance_schema/db.opt
.docker/db_app_v3_data/performance_schema/cond_instances.frm
.docker/db_app_v3_data/performance_schema/accounts.frm
.docker/db_app_v3_data/mysql/user.MYI
.docker/db_app_v3_data/mysql/user.MYD
.docker/db_app_v3_data/mysql/user.frm
.docker/db_app_v3_data/mysql/time_zone_transition_type.ibd
.docker/db_app_v3_data/mysql/time_zone_transition_type.frm
.docker/db_app_v3_data/mysql/time_zone_transition.ibd
.docker/db_app_v3_data/mysql/time_zone_transition.frm
.docker/db_app_v3_data/mysql/time_zone_name.ibd
.docker/db_app_v3_data/mysql/time_zone_name.frm
.docker/db_app_v3_data/mysql/time_zone_leap_second.ibd
.docker/db_app_v3_data/mysql/time_zone_leap_second.frm
.docker/db_app_v3_data/mysql/time_zone.ibd
.docker/db_app_v3_data/mysql/time_zone.frm
.docker/db_app_v3_data/mysql/tables_priv.MYI
.docker/db_app_v3_data/mysql/tables_priv.MYD
.docker/db_app_v3_data/mysql/tables_priv.frm
.docker/db_app_v3_data/mysql/slow_log.frm
.docker/db_app_v3_data/mysql/slow_log.CSV
.docker/db_app_v3_data/mysql/slow_log.CSM
.docker/db_app_v3_data/mysql/slave_worker_info.ibd
.docker/db_app_v3_data/mysql/slave_worker_info.frm
.docker/db_app_v3_data/mysql/slave_relay_log_info.ibd
.docker/db_app_v3_data/mysql/slave_relay_log_info.frm
.docker/db_app_v3_data/mysql/slave_master_info.ibd
.docker/db_app_v3_data/mysql/slave_master_info.frm
.docker/db_app_v3_data/mysql/servers.ibd
.docker/db_app_v3_data/mysql/servers.frm
.docker/db_app_v3_data/mysql/server_cost.ibd
.docker/db_app_v3_data/mysql/server_cost.frm
.docker/db_app_v3_data/mysql/proxies_priv.MYI
.docker/db_app_v3_data/mysql/proxies_priv.MYD
.docker/db_app_v3_data/mysql/proxies_priv.frm
.docker/db_app_v3_data/mysql/procs_priv.MYI
.docker/db_app_v3_data/mysql/procs_priv.MYD
.docker/db_app_v3_data/mysql/procs_priv.frm
.docker/db_app_v3_data/mysql/proc.MYI
.docker/db_app_v3_data/mysql/proc.MYD
.docker/db_app_v3_data/mysql/proc.frm
.docker/db_app_v3_data/mysql/plugin.ibd
.docker/db_app_v3_data/mysql/plugin.frm
.docker/db_app_v3_data/mysql/ndb_binlog_index.MYI
.docker/db_app_v3_data/mysql/ndb_binlog_index.MYD
.docker/db_app_v3_data/mysql/ndb_binlog_index.frm
.docker/db_app_v3_data/mysql/innodb_table_stats.ibd
.docker/db_app_v3_data/mysql/innodb_table_stats.frm
.docker/db_app_v3_data/mysql/innodb_index_stats.ibd
.docker/db_app_v3_data/mysql/innodb_index_stats.frm
.docker/db_app_v3_data/mysql/help_topic.ibd
.docker/db_app_v3_data/mysql/help_topic.frm
.docker/db_app_v3_data/mysql/help_relation.ibd
.docker/db_app_v3_data/mysql/help_relation.frm
.docker/db_app_v3_data/mysql/help_keyword.ibd
.docker/db_app_v3_data/mysql/help_keyword.frm
.docker/db_app_v3_data/mysql/help_category.ibd
.docker/db_app_v3_data/mysql/help_category.frm
.docker/db_app_v3_data/mysql/gtid_executed.ibd
.docker/db_app_v3_data/mysql/gtid_executed.frm
.docker/db_app_v3_data/mysql/general_log.frm
.docker/db_app_v3_data/mysql/general_log.CSV
.docker/db_app_v3_data/mysql/general_log.CSM
.docker/db_app_v3_data/mysql/func.MYI
.docker/db_app_v3_data/mysql/func.MYD
.docker/db_app_v3_data/mysql/func.frm
.docker/db_app_v3_data/mysql/event.MYI
.docker/db_app_v3_data/mysql/event.MYD
.docker/db_app_v3_data/mysql/event.frm
.docker/db_app_v3_data/mysql/engine_cost.ibd
.docker/db_app_v3_data/mysql/engine_cost.frm
.docker/db_app_v3_data/mysql/db.opt
.docker/db_app_v3_data/mysql/db.MYI
.docker/db_app_v3_data/mysql/db.MYD
.docker/db_app_v3_data/mysql/db.frm
.docker/db_app_v3_data/mysql/columns_priv.MYI
.docker/db_app_v3_data/mysql/columns_priv.MYD
.docker/db_app_v3_data/mysql/columns_priv.frm
.docker/db_app_v3_data/laravel@002dsimple/users.ibd
.docker/db_app_v3_data/laravel@002dsimple/users.frm
.docker/db_app_v3_data/laravel@002dsimple/sessions.ibd
.docker/db_app_v3_data/laravel@002dsimple/sessions.frm
.docker/db_app_v3_data/laravel@002dsimple/personal_access_tokens.ibd
.docker/db_app_v3_data/laravel@002dsimple/personal_access_tokens.frm
.docker/db_app_v3_data/laravel@002dsimple/password_resets.ibd
.docker/db_app_v3_data/laravel@002dsimple/password_resets.frm
.docker/db_app_v3_data/laravel@002dsimple/migrations.ibd
.docker/db_app_v3_data/laravel@002dsimple/migrations.frm
.docker/db_app_v3_data/laravel@002dsimple/loans.ibd
.docker/db_app_v3_data/laravel@002dsimple/loans.frm
.docker/db_app_v3_data/laravel@002dsimple/failed_jobs.ibd
.docker/db_app_v3_data/laravel@002dsimple/failed_jobs.frm
.docker/db_app_v3_data/laravel@002dsimple/db.opt
.docker/db_app_v3_data/server-key.pem
.docker/db_app_v3_data/server-cert.pem
.docker/db_app_v3_data/public_key.pem
.docker/db_app_v3_data/private_key.pem
.docker/db_app_v3_data/ibtmp1
.docker/db_app_v3_data/ibdata1
.docker/db_app_v3_data/ib_logfile1
.docker/db_app_v3_data/ib_logfile0
.docker/db_app_v3_data/ib_buffer_pool
.docker/db_app_v3_data/client-key.pem
.docker/db_app_v3_data/client-cert.pem
.docker/db_app_v3_data/ca.pem
.docker/db_app_v3_data/ca-key.pem
.docker/db_app_v3_data/auto.cnf
